body {
    width: 100%;
    margin: 0 auto;
    font-family: 'Open Sans', sans-serif;
}

#left {
    width: 100%;
}

#right {
    width: 100%;
}

.container {
    width: 95%;
}

.ghost-input,
p {
    display: block;
    font-weight: 300;
    width: 100%;
    font-size: 15px;
    border: 0px;
    outline: none;
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    color: #4b545f;
    background: #fff;
    font-family: Open Sans, Verdana;
    padding: 5px 10px;
    margin: 3px 0px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.ghost-input:focus {
    border-bottom: 1px solid #ddd;
}

.ghost-button {
    background-color: transparent;
    border: 2px solid #ddd;
    padding: 10px 25px;
    width: 10%;
    margin-left: 200px;
    margin-right: 200px;
    min-width: 200px;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    -ms-transition: all 0.1s ease-in-out;
    -o-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

.ghost-button:hover {
    border: 2px solid #515151;
}